@import "compass";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "flexslider.scss";

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body, html{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: bold;
}

a{
	text-decoration: none;
	color:#fff;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: auto;
	position: relative;
}

nav{
	text-align:right;
}

#logo{
	margin:40px;
	h1{
		font-size:107px;
		text-transform: uppercase;
		margin:0 auto;
		background-color: #a90329;
		@include filter-gradient(#a90329, #6d0019, vertical);
		@include background-image(linear-gradient(top,  #a90329, #6d0019));
		width: 678px;
	}
	h2{
		font-size: 72px;
		margin: 5px 0 30px;
	}
}

.tagline{
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 48px;
		font-family: 'Montserrat', sans-serif;
		margin:50px 20px 0 0;
		display:inline-block;
		color:#ffffff;
		padding:15px 30px;
	}
}

#panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 10;
	background: rgb(0,0,0);
	@include box-shadow(0 1px 0 rgba(0,0,0,0.5));
	
	ul{
		text-align: right;
	}
	
	li{
		@include inline-block;
		
		&.active{
			a{
				color:#fff;
			}
		}
	}
	
	a{
		line-height:50px;
		padding:14px 18px;
		margin:0 2px;
		color:rgba(255,255,255,0.5);
		@include transition(all 300ms ease);

		&.active,
		&:hover{
			color:#fff;
		}
	}
}

.button{
	cursor: pointer;
	@include box-shadow(
		0 1px 3px rgba(0,0,0,.75),
		inset 0 1px 0 rgba(255,255,255,.2),
		inset 0 0 3px rgba(255,255,255,.2),
		0 0 0 1px rgba(7,77,121,.7)
	);
	@include background-image(linear-gradient(top, #00adfc, #005db7));
	@include border-radius(60px);
	@include text-shadow(0 2px 2px rgba(0,0,0,0.75));
}

#about-us-header,
#specials-header,
#header{
	padding:80px 0 0;
	height:500px;
	background-color: #092e4f;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	@include filter-gradient(#092e4f, #08031a, horizontal);
	@include background-image(radial-gradient(center, #092e4f, #08031a));
}

#specials-header,
#about-us-header{
	line-height: 1.5;
	font-weight: normal;
	font-size:18px;
	text-align: justify;
	color:#c3c3c3;
	padding:40px 0 60px;
	height:auto;
	
	.tagline{
		text-align: center;
		color:#fff;
	}
	p{
		margin-bottom: 20px
	}
	h2{
		font-size:32px;
		color:#fff;
		margin:0 0 20px 0;
	}
	h3{
		margin: 20px 0 30px;
	}
	h4{
		margin:0;
		font-weight: bold;
		line-height: 1;
	}
}

section{
	margin-bottom: 5px;
	position: relative;
	border-bottom: 1px solid #eaeaea;
}

.content{
	background:#fff;
	color:#5e5e5e;
	line-height:1.5;
	h2{
		padding-top: 30px;
		padding-bottom: 10px;
		font-size: 30px;
		color: #565656;
		text-shadow: 0 1px 1px #fff;
		text-align: center;
	}
	.feature{
		font-weight: normal;
		width: 390px;
		display: inline-block;
		text-align: left;
		margin: 30px;
		text-align:justify;
		vertical-align: top;
	}
}

.brands{
	padding-bottom:40px;
	padding-top:20px;
}

.flexslider_container{
	width:800px;
	margin: 0 auto;
	text-align: center;
	
	.media-slide p{
		padding:0 40px;
		font-style: italic;
		font-weight: normal;
		
		&.reviewer{
			text-align: right;
			padding: 10px 50px;
		}
	}
	
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	display: block;
	background: #666;
	background: rgba(0,0,0,0.2);
	cursor: pointer;
	text-indent: -9999px;
	@include border-radius(20px);
	@include box-shadow(inset 0 0 3px rgba(0,0,0,0.3));
	
	&.flex-active {
		background: #000;
		background: rgba(0,0,0,0.5);
		cursor: default;
	}
}

.plans{
	text-align: center;
	
	h2{
		margin-bottom: 15px;
	}
	
	.full{
		text-align: justify;
		font-weight: normal;
		font-size:16px;
		padding:0 40px 10px;
	}
	
	p{
		font-weight: bold;
		font-size: 18px;
		margin:0 0 10px;
	}
	
	ul{
		margin:0 0 0 20px;	
	}
	
	li{
		list-style: disc;
		margin-bottom:10px;
		line-height: 1.2
	}
	
	.feature{
		text-align: left;
		margin:10px;
		padding:20px;
		background:#efefef;
		color:#333;
		height:270px;
		@include border-radius(10px);
		
		&.all{
			height:150px;
			margin-bottom: 40px;
			width: 846px;
		}
	}
}

.product-header{
	font-size:18px;
	background: #092e4f;
	padding:8px 12px;
	color:#fff;
	border-bottom:1px solid rgba(0,0,0,.7);
	cursor:pointer;
	
	&:hover,
	&.active{
		background:#11497a;
	}
}
.product{
	overflow: hidden;
	p{
		font-size:16px;
		font-weight:normal;
		padding: 20px;
	}
	ul{
		margin:0 40px 30px;
		padding:20px 20px 20px 40px;
		background:#efefef;
		color:#333;
		font-weight:normal;
		@include border-radius(10px);

	}
	li{
		list-style: disc;
		color:#333;
		
	}
}

.coupons{
	text-align: center;
}
.coupon{
	width:200px;
	height:200px;
	text-align: center;
	padding:8px;
	margin:10px;
	float:left;
	color:#fff;
	font-size:20px;
	cursor:pointer;
	margin-bottom:30px;
	@include box-shadow(0 0 2px 1px rgba(0,0,0,.5));
	@include text-shadow(0 2px 2px rgba(0,0,0,0.75));
	@include background-image(linear-gradient(top,  #a90329, #6d0019));
	@include inline-block;
}

.coupon-outer[class]{
	display:table;
}
.coupon-middle{
	position: absolute; top: 50%;
}
.coupon-middle[class]{
	display: table-cell; vertical-align: middle; width: 100%; position: static;
}
.coupon-inner{
	position: relative; top: -50%;
}
.coupon-inner[class]{
	position: static;
}

.scroll-point{
	padding:50px 0 0;
	display: block;
}

/*
@media screen and (min-width: 320px) {
	.no-phone{
		display:none;
	}
	nav{
		text-align: center;
	}
	#logo{
		h1{
			font-size:65px;
		}
		h2{
			font-size:34px;
		}
	}
	.container{
		width: 320px;
	}
}

@media screen and (min-width: 480px) {
	.no-phone{
		display:none;
	}
	.container{
		width: 480px;
	}
}

@media screen and (min-width: 568px) {
	.no-phone{
		display:none;
	}
	.container{
		width: 568px;
	}
}

@media screen and (min-width: 600px) {
	#panel .no-phone{
		display:inline;
	}
	nav{
		text-align: right;
	}
	.container{
		width: 600px;
	}
}

@media screen and (min-width: 800px) {
	#logo{
		h1{
			font-size:112px;
		}
		h2{
			font-size:75px;
		}
	}
	.container{
		width: 800px;
	}
}

@media screen and (min-width: 960px) {
	.container{
		width: 960px;
	}
}
*/